/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffccff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    position: relative;
}

.question-container {
    display: block;
}

button {
    background-color: #ff66cc;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff3399;
}

#answer-container {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
}

/* Next Button */
#next-button-container {
    margin-top: 20px;
}

/* Heart Animation */
@keyframes flyHeart {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-200px, -200px);
        opacity: 0;
    }
}

.heart {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 30px;
    color: red;
    animation: flyHeart 3s ease-out infinite;
    pointer-events: none;
    z-index: -1;
}

/* Add more hearts */
.heart:nth-child(2) {
    animation-delay: 1s;
}

.heart:nth-child(3) {
    animation-delay: 2s;
}

.heart:nth-child(4) {
    animation-delay: 3s;
}
